.Footer_Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    .sun{
        width: 100vw;
    }
    .p{
        font-family: Meshroom;
        font-size: 18px;
    }
    .Welcome_Container{
    }
}